<!DOCTYPE html>
<html>
    <head>
        <title>Liver Disease Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}"> 
        
    </head>
    <body>
        <div class="head">
            <p class="heading">Liver Health Predictor</p> 
         </div>
        <div class="content">
            <div class="left">
                <div class="text">
                    <h1>ABOUT LIVER</h1>
                    <p >The liver is an organ that sits just under the rib cage on the 
                        right side of the abdomen. It can weigh up to 4 pounds (1.8 kilograms).
                        The liver is needed to help digest food, rid the body 
                        of waste products and make substances, called clotting 
                        factors, that keep the blood flowing well, among other tasks.
                    </p>
                    <p class="direct">Want to know if your liver is healthy or not? </p>
                    <form action="/prediction" ><button class="button">Click here</button></form>
                </div>
                
            </div>
        
        <div class="right">
    
            <div class="shape"></div>
            <img  class="liver" src="{{ url_for('static',filename='img/thomas-liver-disease-desktop.jpg')}}" alt="liver" width="450px" height="450px">
            <img class="image" src="{{ url_for('static',filename='img/Untitled.jpeg')}}" alt="liver" width="250px" height="250px">
            
        </div>
        </div>
    </body>
</html>